---
import * as m from "@messages/messages";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      {/* Hero content */}
      <div class="py-12 md:py-20">
        {/* Section header */}
        <div class="space-y-10 pb-12 text-center md:pb-20">
          <h1
            class="font-nacelle animate-[gradient_6s_linear_infinite] bg-[linear-gradient(to_right,theme(colors.gray.200),theme(colors.indigo.200),theme(colors.gray.50),theme(colors.indigo.300),theme(colors.gray.200))] bg-[length:200%_auto] bg-clip-text pb-5 text-4xl font-semibold text-transparent md:text-5xl"
            data-aos="fade-up"
          >
            {m.home_title()}
          </h1>
          <div class="mx-auto max-w-3xl">
            <p
              class="mb-8 text-xl text-primary/65"
              data-aos="fade-up"
              data-aos-delay={200}
            >
              {m.home_description()}
            </p>
            <div
              class="mx-auto max-w-xs sm:flex sm:max-w-none sm:justify-center"
            >
              <div data-aos="fade-up" data-aos-delay={400}>
                <a
                  class="rounded border border-gray-400 bg-white px-4 py-2 font-semibold text-gray-800 shadow hover:bg-gray-200"
                  href="https://github.com/siwalikm/astro-polyglot-starter"
                  target="_blank"
                >
                  <span class="relative inline-flex items-center">
                    {m.home_button()}
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="inline-flex items-center gap-3 pb-3 before:h-px before:w-8 before:bg-gradient-to-r before:from-transparent before:to-primary/50 after:h-px after:w-8 after:bg-gradient-to-l after:from-transparent after:to-primary/50"
          >
            <span
              class="inline-flex bg-gradient-to-r from-white to-secondary bg-clip-text text-transparent"
            >
              {m.only_in_english()}
            </span>
          </div>

          <div class="grid grid-cols-9 grid-rows-2 gap-4">
            <div class="col-start-4 row-start-1">AstroJS</div>
            <div class="col-start-5 row-start-1">Tailwind</div>
            <div class="col-start-6 row-start-1">Motion</div>
            <div class="col-start-4 row-start-2">React + TS</div>
            <div class="col-start-5 row-start-2">Paraglide</div>
            <div class="col-start-6 row-start-2">Lucide Icons</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
